/**
 * Name:            Leader
 * Description:     Component to create dot leaders
 *
 * Component:       `c-leader`
 *
 * ======================================================================== */


/**
 * Variables
 * ======================================================================== */

:root {

    --leader-fill-content:                           .;
    --leader-fill-margin-left:                       var(--global-small-gutter);

}


/* ========================================================================
   Component: Leader
 ========================================================================== */

.c-leader { overflow: hidden; }

/*
 * 1. Place element in text flow
 * 2. Never break into a new line
 * 3. Get a string back with as many repeating characters to fill the container
 * 4. Prevent wrapping. Overflowing characters will be clipped by the container
 */

.c-leader-fill::after {
    /* 1 */
    display: inline-block;
    margin-left: var(--leader-fill-margin-left);
    /* 2 */
    width: 0;
    /* 3 */
    content: attr(data-fill);
    /* 4 */
    white-space: nowrap;
}

/*
 * Hide if media does not match
 */

.c-leader-fill.c-leader-hide::after { display: none; }

/*
 * Pass fill character to JS
 */

.c-leader-fill-content::before { content: var(--leader-fill-content); }
:root { --c-leader-fill-content: var(--leader-fill-content); }
