/**
 * Name:            Modal
 * Description:     Component to create modal dialogs
 *
 * Component:       `c-modal`
 *
 * Sub-objects:     `c-modal-page`
 *                  `c-modal-dialog`
 *                  `c-modal-header`
 *                  `c-modal-body`
 *                  `c-modal-footer`
 *                  `c-modal-title`
 *                  `c-modal-close`
 *
 * Adopted:         `c-modal-close-default`
 *                  `c-modal-close-outside`
 *                  `c-modal-close-full`
 *
 * Modifiers:       `c-modal-container`
 *                  `c-modal-full`
 *
 * States:          `c-open`
 *
 * ======================================================================== */


/**
 * Variables
 * ======================================================================== */

:root {

    --modal-z-index:                                 calc(var(--global-z-index) + 10);
    --modal-background:                              rgba(0,0,0,0.6);

    --modal-padding-horizontal:                      15px;
    --modal-padding-vertical:                        var(--modal-padding-horizontal);

    --modal-dialog-width:                            600px;
    --modal-dialog-background:                       var(--global-background);

    --modal-container-width:                         1200px;

    --modal-body-padding-horizontal:                 var(--global-gutter);
    --modal-body-padding-vertical:                   var(--global-gutter);

    --modal-header-padding-horizontal:               var(--global-gutter);
    --modal-header-padding-vertical:                 calc(var(--modal-header-padding-horizontal) / 2);
    --modal-header-background:                       var(--modal-dialog-background);
    --modal-header-border-width:                     var(--global-border-width);
    --modal-header-border:                           var(--global-border);

    --modal-footer-padding-horizontal:               var(--global-gutter);
    --modal-footer-padding-vertical:                 calc(var(--modal-footer-padding-horizontal) / 2);
    --modal-footer-background:                       var(--modal-dialog-background);
    --modal-footer-border-width:                     var(--global-border-width);
    --modal-footer-border:                           var(--global-border);

    --modal-title-font-size:                         var(--global-xlarge-font-size);
    --modal-title-line-height:                       1.3;

    --modal-close-position:                          var(--global-small-margin);
    --modal-close-padding:                           5px;

    --modal-close-outside-position:                  0;
    --modal-close-outside-translate:                 100%;
    --modal-close-outside-color:                     color-mod(var(--global-inverse-color) alpha(80%));
    --modal-close-outside-hover-color:               var(--global-inverse-color);
    --modal-close-full-padding:                      var(--global-margin);
    --modal-close-full-background:                   var(--modal-dialog-background);

}

@media (--s-up) {

    :root {

        --modal-padding-horizontal:                    var(--global-gutter);
        --modal-padding-vertical:                      50px;

    }

}

@media (--m-up) {

    :root {

        --modal-padding-horizontal:                    var(--global-medium-gutter);

    }

}


/* ========================================================================
   Component: Modal
 ========================================================================== */

/*
 * 1. Hide by default
 * 2. Set position
 * 3. Allow scrolling for the modal dialog
 * 4. Horizontal padding
 * 5. Mask the background page
 * 6. Fade-in transition
 */

.c-modal {
    /* 1 */
    display: none;
    /* 2 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--modal-z-index);
    /* 3 */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* 4 */
    padding: var(--modal-padding-vertical) var(--modal-padding-horizontal);
    /* 5 */
    background: var(--modal-background);
    /* 6 */
    opacity: 0;
    transition: opacity 0.15s linear;
}

/*
 * Open
 */

.c-modal.c-open { opacity: 1; }


/* Page
 ========================================================================== */

/*
 * Prevent scrollbars
 */

.c-modal-page { overflow: hidden; }


/* Dialog
 ========================================================================== */

/*
 * 1. Create position context for spinner and close button
 * 2. Dimensions
 * 3. Fix `max-width: 100%` not working in combination with flex and responsive images in IE11
 *    `!important` needed to overwrite `c-width-auto`. See `#modal-media-image` in tests
 * 4. Style
 * 5. Slide-in transition
 */

.c-modal-dialog {
    /* 1 */
    position: relative;
    /* 2 */
    box-sizing: border-box;
    margin: 0 auto;
    width: var(--modal-dialog-width);
    /* 3 */
    max-width: calc(100% - 0.01px) !important;
    /* 4 */
    background: var(--modal-dialog-background);
    /* 5 */
    opacity: 0;
    transform: translateY(-100px);
    transition: 0.3s linear;
    transition-property: opacity, transform;
}

/*
 * Open
 */

.c-open > .c-modal-dialog {
    opacity: 1;
    transform: translateY(0);
}


/* Size modifier
 ========================================================================== */

/*
 * Container size
 * Take the same size as the Container component
 */

.c-modal-container .c-modal-dialog { width: var(--modal-container-width); }

/*
 * Full size
 * 1. Remove padding and background from modal
 * 2. Reset all default declarations from modal dialog
 */

/* 1 */
.c-modal-full {
    padding: 0;
    background: none;
}

/* 2 */
.c-modal-full .c-modal-dialog {
    margin: 0;
    width: 100%;
    max-width: 100%;
    transform: translateY(0);
}


/* Sections
 ========================================================================== */

.c-modal-body {
    padding: var(--modal-body-padding-vertical) var(--modal-body-padding-horizontal);
}

.c-modal-header {
    padding: var(--modal-header-padding-vertical) var(--modal-header-padding-horizontal);
    background: var(--modal-header-background);
    border-bottom: var(--modal-header-border-width) solid var(--modal-header-border);
}

.c-modal-footer {
    padding: var(--modal-footer-padding-vertical) var(--modal-footer-padding-horizontal);
    background: var(--modal-footer-background);
    border-top: var(--modal-footer-border-width) solid var(--modal-footer-border);
}

/*
 * Micro clearfix
 */

.c-modal-body::before,
.c-modal-body::after,
.c-modal-header::before,
.c-modal-header::after,
.c-modal-footer::before,
.c-modal-footer::after {
    content: "";
    display: table;
}

.c-modal-body::after,
.c-modal-header::after,
.c-modal-footer::after { clear: both; }

/*
 * Remove margin from the last-child
 */

.c-modal-body > :last-child,
.c-modal-header > :last-child,
.c-modal-footer > :last-child { margin-bottom: 0; }


/* Title
 ========================================================================== */

.c-modal-title {
    font-size: var(--modal-title-font-size);
    line-height: var(--modal-title-line-height);
}


/* Close
 * Adopts `c-close`
 ========================================================================== */

[class*='c-modal-close-'] {
    position: absolute;
    z-index: var(--modal-z-index);
    top: var(--modal-close-position);
    right: var(--modal-close-position);
    padding: var(--modal-close-padding);
}

/*
 * Remove margin from adjacent element
 */

[class*='c-modal-close-']:first-child + * { margin-top: 0; }

/*
 * Hover
 */

[class*='c-modal-close-']:hover {}

/*
 * Default
 */

.c-modal-close-default {}

.c-modal-close-default:hover {}

/*
 * Outside
 * 1. Prevent scrollbar on small devices
 */

.c-modal-close-outside {
    top: var(--modal-close-outside-position);
    /* 1 */
    right: calc(var(--modal-close-padding) * -1);
    transform: translate(0, calc(var(--modal-close-outside-translate) * -1));
    color: var(--modal-close-outside-color);
}

.c-modal-close-outside:hover {
    color: var(--modal-close-outside-hover-color);
}

/* Tablet landscape and bigger */
@media (--m-up) {

    /* 1 */
    .c-modal-close-outside {
        right: var(--modal-close-outside-position);
        transform: translate(var(--modal-close-outside-translate), calc(var(--modal-close-outside-translate) * -1));
    }

}

/*
 * Full
 */

.c-modal-close-full {
    top: 0;
    right: 0;
    padding: var(--modal-close-full-padding);
    background: var(--modal-close-full-background);
}

.c-modal-close-full:hover {}
